html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif, helvetica, arial;
    margin: 0%;
}
section {
    margin: 5pt;
}
.hero-image {
    height: 400pt;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("Producten.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 200%;
}

hr {
    border: solid lightgray;
}

img {
    margin: 10pt;
}

button {
    background-color: darkgray;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5pt;
    padding: 5pt;
    cursor: pointer;
    min-width: 125pt;
}

.product {
    display: flex
}

section.product {
    display: flex;
}

img.product {
    display: inline-block;
}

div.product {
    display: inline-block;
    vertical-align: top;
}

h3.description {
    margin-bottom: 0pt;
}

p.description {
    margin-top: 5pt;
}

h4.region {
    margin-bottom: 0pt;
}

p.region {
    margin-top: 5pt;
}

footer {
    color: white;
    background-color: #5D5C61;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
}

footer h1 {
    text-align: center;
}

.contact {
    size: 300%;
    text-align: center;
    display: block;
}

a {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: darkgray;
}
