:root,
html {
    /* font */
    font-family: sans-serif, Helvetica, arial;

    /* color */
    background-color: #262626;

    /* box model */
    margin: 0;
    padding: 0;
}

header {
    /* text */
    color: white;

    /* background */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/Producten.jpg");

    /* size & positioning */
    height: 400pt;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header div {
    position: relative;
    top: 50%;
}

header div h1 { font-size: 300% }